In [ ]:
# # # Data structures:
#  - Series 
#  - DataFrame 
#  - Panel

In [2]:
# # # Series
import pandas as pd
import numpy as np

s = pd.Series(data={'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5})
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
s['b']

2

In [5]:
s[1]

2

In [6]:
s.loc['b']

2

In [7]:
s.iloc[1]

2

In [8]:
s2 = pd.Series(data=range(1, 6), index=range(6, 11))
s2

6     1
7     2
8     3
9     4
10    5
dtype: int64

In [23]:
s2[6]

1

In [10]:
s2.iloc[0]

1

In [11]:
s2.max()

5

In [16]:
s2 > 2

6     False
7     False
8      True
9      True
10     True
dtype: bool

In [17]:
s2[s2 > 2]

8     3
9     4
10    5
dtype: int64

In [18]:
s3 = pd.Series(data=[1, 2, 3, 4, 5], index=[4, 3, 4, 5, 4])
s3

4    1
3    2
4    3
5    4
4    5
dtype: int64

In [24]:
s3[4]

4    1
4    3
4    5
dtype: int64

In [26]:
s3 ** 1

4    2
3    3
4    4
5    5
4    6
dtype: int64

In [30]:
s3

4    1
3    2
4    3
5    4
4    5
dtype: int64

In [33]:
s4 = s3.rename('my_column')
s4

4    1
3    2
4    3
5    4
4    5
Name: my_column, dtype: int64

In [35]:
s4.name

'my_column'

In [39]:
class TestClass:
    pass

s5 = pd.Series([{'my': 'dict'}, TestClass, TestClass(), 1, 'my_string', [1, 2, 3], (3,), None])
s5

0                                   {'my': 'dict'}
1                     <class '__main__.TestClass'>
2    <__main__.TestClass object at 0x7fe11a8a0e20>
3                                                1
4                                        my_string
5                                        [1, 2, 3]
6                                             (3,)
7                                             None
dtype: object