In [2]:
import pandas as pd

data = {'distance': [0, 300, 600, 1000],
        'population': [4.8, 0.7, 6.4, 2.9]}
df = pd.DataFrame(data, index=['Alabama','Alaska','Arizona','Arkansas'])
df

          distance  population
Alabama          0         4.8
Alaska         300         0.7
Arizona        600         6.4
Arkansas      1000         2.9

In [3]:
df.index

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas'], dtype='object')

In [4]:
print(type(df['population']))
df['population']

<class 'pandas.core.series.Series'>

Alabama     4.8
Alaska      0.7
Arizona     6.4
Arkansas    2.9
Name: population, dtype: float64

In [5]:
print(type(df['population']))
df[['population']]

<class 'pandas.core.series.Series'>

          population
Alabama          4.8
Alaska           0.7
Arizona          6.4
Arkansas         2.9

In [6]:
print(type(df.loc['Alabama']))
df.loc['Alabama']

<class 'pandas.core.series.Series'>

distance      0.0
population    4.8
Name: Alabama, dtype: float64

In [8]:
df_copy = df.copy()
df_copy.loc[:, 'population'] = 10
df_copy

          distance  population
Alabama          0          10
Alaska         300          10
Arizona        600          10
Arkansas      1000          10

In [62]:
df.iloc[1]

distance      300.0
population      0.7
Name: Alaska, dtype: float64

In [120]:
df.iloc[1:3, 1]

Alaska     0.7
Arizona    6.4
Name: population, dtype: float64

In [66]:
df.loc['Alabama':'Arizona']

         distance  population
Alabama         0         4.8
Alaska        300         0.7
Arizona       600         6.4

In [110]:
df['Alabama':'Arizona']

         distance  population
Alabama         0         4.8
Alaska        300         0.7
Arizona       600         6.4

In [84]:
df.loc[['Alabama','Arizona']]

         distance  population
Alabama         0         4.8
Arizona       600         6.4

In [85]:
df.loc['Alabama', 'distance']

0

In [94]:
df.at['Alabama', 'distance']

0

In [97]:
df_at_1 = pd.DataFrame(data, index=['Alabama','Alabama','Arizona','Arkansas'])
df_at_1.at['Alabama', 'distance']

Alabama      0
Alabama    300
Name: distance, dtype: int64

In [70]:
df

          distance  population
Alabama          0         4.8
Alaska         300         0.7
Arizona        600         6.4
Arkansas      1000         2.9

In [71]:
df.loc['Alabama':'Arizona', 'distance']

Alabama      0
Alaska     300
Arizona    600
Name: distance, dtype: int64

In [72]:
df.loc[:, 'distance']

Alabama        0
Alaska       300
Arizona      600
Arkansas    1000
Name: distance, dtype: int64

In [75]:
df

          distance  population
Alabama          0         4.8
Alaska         300         0.7
Arizona        600         6.4
Arkansas      1000         2.9

In [78]:
df_loc_1 = df.copy()
df_loc_1.loc[:, 'rating'] = 10000
df_loc_1

          distance  population  rating
Alabama          0         4.8   10000
Alaska         300         0.7   10000
Arizona        600         6.4   10000
Arkansas      1000         2.9   10000

In [80]:
df_loc_2 = df.copy()
df_loc_2.loc[df_loc_2['population'] > 3, 'rating'] = 'cool'
df_loc_2

          distance  population rating
Alabama          0         4.8   cool
Alaska         300         0.7    NaN
Arizona        600         6.4   cool
Arkansas      1000         2.9    NaN

In [81]:
df['population'] > 3

Alabama      True
Alaska      False
Arizona      True
Arkansas    False
Name: population, dtype: bool

In [82]:
mask = [True, False, True, False]
df[mask]

         distance  population
Alabama         0         4.8
Arizona       600         6.4

In [108]:
ser_1 = pd.Series([True, False, True, True], index=['Alabama','Alaska','Arizona','Arkansas'])
ser_2 = pd.Series([False, False, True, True], index=['Alabama','Alaska','Arizona','Arkansas'])
ser_1 & ser_2

Alabama     False
Alaska      False
Arizona      True
Arkansas     True
dtype: bool

In [109]:
df[ser_1 & ser_2]

          distance  population
Arizona        600         6.4
Arkansas      1000         2.9