In [1]:
import pandas as pd
import numpy as np

df_google = pd.read_csv('datasets/googleplaystore.csv', index_col='App')

# df = pd.read_csv('datasets/googleplaystore_user_reviews.csv')
# df.dropna(subset=['Sentiment_Subjectivity'])
df_google.tail()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
App,,,,,,,,,,,,
Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [2]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10841 entries, Photo Editor & Candy Camera & Grid & ScrapBook to iHoroscope - 2018 Daily Horoscope & Astrology
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        10841 non-null  object
 1   Rating          9367 non-null   float64
 2   Reviews         10841 non-null  object
 3   Size            10841 non-null  object
 4   Installs        10841 non-null  object
 5   Type            10840 non-null  object
 6   Price           10841 non-null  object
 7   Content Rating  10840 non-null  object
 8   Genres          10841 non-null  object
 9   Last Updated    10841 non-null  object
 10  Current Ver     10833 non-null  object
 11  Android Ver     10838 non-null  object
dtypes: float64(1), object(11)
memory usage: 1.1+ MB

In [3]:
# 1. Filter optim
# df_google.filter(...)

In [4]:
%%timeit
df_google.loc['Photo Editor & Candy Camera & Grid & ScrapBook', 'Installs']
# df_google.loc['Sya9a Maroc - FR', 'Installs']

531 µs ± 91.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [5]:
%%timeit
df_google.at['Photo Editor & Candy Camera & Grid & ScrapBook', 'Installs']

449 µs ± 143 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [6]:
df_google_no_index = df_google.reset_index()
df_google_no_index.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [7]:
%%timeit
df_google_no_index.loc[df_google_no_index['App'] == 'Sya9a Maroc - FR', 'Installs']

1.02 ms ± 137 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [8]:
%%timeit 
df_google_no_index.iloc[10840]['Installs']

133 µs ± 18.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [9]:
# 3. Vector operations
df_reviews = pd.read_csv('datasets/googleplaystore_user_reviews.csv')
df_reviews

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000
...,...,...,...,...,...
64290,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64291,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64292,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64293,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64294,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN

In [10]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

In [11]:
df_reviews_32 = df_reviews.astype({'Sentiment_Polarity': 'float32', 'Sentiment_Subjectivity': 'float32'})
df_reviews_32.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float32
 4   Sentiment_Subjectivity  37432 non-null  float32
dtypes: float32(2), object(3)
memory usage: 2.0+ MB

In [12]:
%%timeit
((df_reviews['Sentiment_Polarity'] + df_reviews['Sentiment_Subjectivity']) / 2) ** 3

1.58 ms ± 224 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [13]:
%%timeit
(df_reviews['Sentiment_Polarity'] / 2 + df_reviews['Sentiment_Subjectivity'] / 2) ** 3

1.7 ms ± 97.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [14]:
%%timeit
((df_reviews_32['Sentiment_Polarity'] + df_reviews_32['Sentiment_Subjectivity']) / 2) ** 3

1.15 ms ± 80.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [15]:
%%timeit
(df_reviews_32['Sentiment_Polarity'] / 2 + df_reviews_32['Sentiment_Subjectivity'] / 2) ** 3

1.22 ms ± 12.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [16]:
# 4. Categorical data
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

In [17]:
df_reviews.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [18]:
len(df_reviews['App'].unique())

1074

In [19]:
df_reviews['App'].memory_usage()

514488

In [20]:
df_reviews['App'].astype('category').memory_usage()

178270

In [21]:
df_reviews_category = df_reviews.astype({'App': 'category'})
df_reviews_category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  category
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: category(1), float64(2), object(2)
memory usage: 2.1+ MB

In [22]:
%%timeit
df_reviews.groupby('App').mean()

7.49 ms ± 1.61 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [23]:
%%timeit
df_reviews_category.groupby('App').mean()

4.32 ms ± 943 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [24]:
df_reviews_category.groupby('App').mean()

,Sentiment_Polarity,Sentiment_Subjectivity
App,,
10 Best Foods for You,0.470733,0.495455
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,0.392405,0.545516
11st,0.181294,0.443957
1800 Contacts - Lens Store,0.318145,0.591098
1LINE – One Line with One Touch,0.196290,0.557315
...,...,...
Hotspot Shield Free VPN Proxy & Wi-Fi Security,0.251765,0.393284
Hotstar,0.038178,0.493964
Hotwire Hotel & Car Rental App,0.187029,0.459717
Housing-Real Estate & Property,-0.021427,0.378532
Houzz Interior Design Ideas,NaN,NaN

In [25]:
pd.pivot_table(df_reviews_category, index='App', values=['Sentiment_Polarity', 'Sentiment_Subjectivity'], aggfunc='mean', dropna=False)

,Sentiment_Polarity,Sentiment_Subjectivity
App,,
10 Best Foods for You,0.470733,0.495455
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,0.392405,0.545516
11st,0.181294,0.443957
1800 Contacts - Lens Store,0.318145,0.591098
1LINE – One Line with One Touch,0.196290,0.557315
...,...,...
Hotspot Shield Free VPN Proxy & Wi-Fi Security,0.251765,0.393284
Hotstar,0.038178,0.493964
Hotwire Hotel & Car Rental App,0.187029,0.459717
Housing-Real Estate & Property,-0.021427,0.378532
Houzz Interior Design Ideas,NaN,NaN

In [26]:
%%timeit
pd.pivot_table(df_reviews_category, index=['App'], values=['Sentiment_Polarity', 'Sentiment_Subjectivity'], aggfunc='mean', dropna=False)

2.94 ms ± 684 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [27]:
reviews_mapper = {k: i for i, k in enumerate(df_reviews['App'].unique())}
df_custom_category = df_reviews.copy()
df_custom_category.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [28]:
df_custom_category['App'].replace(reviews_mapper, inplace=True)
df_custom_category.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,0,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,0,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,0,NaN,NaN,NaN,NaN
3,0,Works great especially going grocery store,Positive,0.40,0.875000
4,0,Best idea us,Positive,1.00,0.300000

In [29]:
df_custom_category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  int64
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.5+ MB

In [30]:
%%timeit
pd.pivot_table(df_custom_category, index=['App'], values=['Sentiment_Polarity', 'Sentiment_Subjectivity'], aggfunc='mean', dropna=False)

3.48 ms ± 756 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [31]:
df_custom_category_2 = df_custom_category.astype({'App': 'category'})
df_custom_category_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  category
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: category(1), float64(2), object(2)
memory usage: 2.1+ MB

In [32]:
%%timeit
pd.pivot_table(df_custom_category_2, index=['App'], values=['Sentiment_Polarity', 'Sentiment_Subjectivity'], aggfunc='mean', dropna=False)

3.23 ms ± 832 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [33]:
# Timeseries 
# https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html
df_dates = pd.DataFrame({
    'Started': pd.date_range('2018-01-01 8:00:00', periods=10000, freq='D'),
    'Finished': pd.date_range('2019-01-01 17:00:00', periods=10000, freq='D')
})
df_dates

                 Started            Finished
0    2018-01-01 08:00:00 2019-01-01 17:00:00
1    2018-01-02 08:00:00 2019-01-02 17:00:00
2    2018-01-03 08:00:00 2019-01-03 17:00:00
3    2018-01-04 08:00:00 2019-01-04 17:00:00
4    2018-01-05 08:00:00 2019-01-05 17:00:00
...                  ...                 ...
9995 2045-05-14 08:00:00 2046-05-14 17:00:00
9996 2045-05-15 08:00:00 2046-05-15 17:00:00
9997 2045-05-16 08:00:00 2046-05-16 17:00:00
9998 2045-05-17 08:00:00 2046-05-17 17:00:00
9999 2045-05-18 08:00:00 2046-05-18 17:00:00

[10000 rows x 2 columns]

In [34]:
df_dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Started   10000 non-null  datetime64[ns]
 1   Finished  10000 non-null  datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 156.4 KB

In [35]:
(df_dates.Finished - df_dates.Started).astype('timedelta64[h]')

0       8769.0
1       8769.0
2       8769.0
3       8769.0
4       8769.0
         ...
9995    8769.0
9996    8769.0
9997    8769.0
9998    8769.0
9999    8769.0
Length: 10000, dtype: float64

In [36]:
%%timeit
(df_dates.Finished - df_dates.Started).astype('timedelta64[h]')

663 µs ± 187 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [37]:
%%timeit
(df_dates.Finished - df_dates.Started) / pd.Timedelta(hours=1)

490 µs ± 78.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [38]:
df_dates_int = pd.DataFrame({
    'Started': df_dates.Started.astype(int) / 10**9,
    'Finished': df_dates.Finished.astype(int) / 10**9
})

In [39]:
df_dates_int

           Started      Finished
0     1.514794e+09  1.546362e+09
1     1.514880e+09  1.546448e+09
2     1.514966e+09  1.546535e+09
3     1.515053e+09  1.546621e+09
4     1.515139e+09  1.546708e+09
...            ...           ...
9995  2.378362e+09  2.409930e+09
9996  2.378448e+09  2.410016e+09
9997  2.378534e+09  2.410103e+09
9998  2.378621e+09  2.410189e+09
9999  2.378707e+09  2.410276e+09

[10000 rows x 2 columns]

In [40]:
df_dates_int.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Started   10000 non-null  float64
 1   Finished  10000 non-null  float64
dtypes: float64(2)
memory usage: 156.4 KB

In [41]:
(df_dates_int.Finished - df_dates_int.Started) / 3600

0       8769.0
1       8769.0
2       8769.0
3       8769.0
4       8769.0
         ...
9995    8769.0
9996    8769.0
9997    8769.0
9998    8769.0
9999    8769.0
Length: 10000, dtype: float64

In [42]:
%%timeit
# Можно еще ускорить, если использовать numpy
(df_dates_int.Finished - df_dates_int.Started) / 3600

266 µs ± 75.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)